::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  background-color: #37B387;
  border-radius: 4px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #fcfcfc;
  cursor: pointer !important;
}

.line-clamp-1,
.line-clamp-2,
.line-clamp-3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

body {
  overflow-x: hidden;
}

header {
  position: sticky !important;
  top: 0;
  z-index: 999;
}
header .navbar .navbar-brand {
  height: 80px;
}
header .navbar .navbar-brand img {
  height: 100%;
}
header .navbar .collapse {
  justify-content: flex-end;
}
header .navbar .collapse .navbar-nav {
  float: right;
  margin: 0 !important;
}
@media screen and (max-width: 778px) {
  header .navbar .collapse .navbar-nav {
    float: left;
  }
}
header .navbar .collapse .navbar-nav .nav-item {
  padding: 0 2rem;
}
header .navbar .collapse .navbar-nav .nav-item a {
  font-size: 20px;
  font-weight: 600;
  color: #405263;
  font-family: "Dosis";
}
header .navbar .collapse .navbar-nav .nav-item a.active {
  color: #37B387;
}
header .navbar .collapse .navbar-nav .nav-item a:hover {
  color: #37B387;
}
header .navbar .collapse .navbar-nav .nav-item .dropdown-menu li .dropdown-item i {
  margin-right: 6px;
}
header .navbar .collapse .navbar-nav .nav-item:last-child {
  position: relative;
}
header .navbar .collapse .navbar-nav .nav-item .count-shopping {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 0;
  display: block;
  background-color: #ff0000;
  border-radius: 50%;
  left: 58%;
  color: #fff;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
@media screen and (max-width: 778px) {
  header .navbar .collapse .navbar-nav .nav-item .count-shopping {
    left: 18%;
  }
}

.banner-calories img {
  width: 100%;
}

.calories-tool .calories-banner {
  position: relative;
  margin-top: 3rem;
}
.calories-tool .calories-banner img {
  width: 100%;
}
.calories-tool .calories-banner h1 {
  font-size: 25px;
  font-weight: 700;
  background: rgba(13, 255, 0, 0.3137254902);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
  transform: translateY(-50%);
}
@media screen and (max-width: 778px) {
  .calories-tool .calories-banner h1 {
    font-size: 20px;
  }
}
.calories-tool .calories-desc {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.calories-tool .calories-desc strong {
  color: #38b349;
  font-size: 18px;
  margin-bottom: 1rem;
  display: block;
}
.calories-tool .calories-input-info .personal-info h2 {
  text-transform: uppercase;
  color: #289537;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}
.calories-tool .calories-input-info .personal-info small {
  font-size: 14px;
  color: #289537;
  text-align: center;
  display: block;
}
.calories-tool .calories-input-info .personal-info p {
  font-size: 16px;
  text-align: center;
}
.calories-tool .calories-input-info .personal-info label.title {
  font-weight: 700;
  color: #289537;
  display: block;
  font-size: 18px;
  margin: 1.5rem 0 0.5rem 0;
}
.calories-tool .calories-input-info .personal-info label.title:after {
  content: ":";
  margin-left: 5px;
}
.calories-tool .calories-input-info .personal-info .btn-group .btn {
  border-color: #37B387;
  color: #000;
  font-weight: 600;
}
.calories-tool .calories-input-info .personal-info .btn-group input:checked + .btn {
  background-color: #37B387;
  color: #fff;
}
.calories-tool .calories-input-info .personal-info .form-control {
  border-color: #289537;
  font-weight: 600;
  outline: none;
  box-shadow: none;
}
.calories-tool .calories-input-info .personal-info .form-control::placeholder {
  color: #405263;
}
.calories-tool .calories-input-info .active-info .button {
  width: 150px;
  background-color: #289537;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
  text-align: center;
  margin-top: 1rem;
}
.calories-tool .calories-input-info .active-info .form-check-input:checked {
  border: #289537;
  background-color: #289537;
}
.calories-tool .calories-input-info .active-info .top-row,
.calories-tool .calories-input-info .active-info .content-row {
  border: 1px solid #289537;
  border-radius: 0.5rem;
  background: rgba(13, 255, 0, 0.3137254902);
  padding: 0.5rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 0.5rem;
}
.calories-tool .calories-input-info .active-info .content-row {
  background: none;
  font-weight: 500;
}
.calories-tool .calories-index .desc {
  text-align: center;
  margin-top: 3rem;
}
.calories-tool .calories-index .desc strong {
  font-size: 25px;
  color: #37B387;
}
.calories-tool .calories-index .index {
  text-align: center;
}
.calories-tool .calories-index .index strong {
  font-size: 22px;
  color: #37B387;
  display: block;
}
.calories-tool .calories-index .index label {
  color: #ff0000;
  font-weight: 600;
  font-size: 75px;
  display: block;
}
.calories-tool .calories-index .index span {
  font-size: 20px;
  color: #405263;
  display: block;
}
.calories-tool .calories-index .result span {
  display: block;
  margin: auto;
  padding: 0 1rem;
  width: fit-content;
  border-radius: 10px;
  background: #37B387;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.calories-tool .calories-index .result span strong {
  color: #ff0000;
  font-size: 60px;
  font-weight: 500;
  margin: 0 10px;
}
.calories-tool .calories-summary {
  text-align: center;
}
.calories-tool .calories-summary h4 {
  background-color: rgba(13, 255, 0, 0.3137254902);
  color: #000;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
}
.calories-tool .calories-summary .border-box {
  border: 1px solid #37B387;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.calories-tool .calories-summary .border-box .content-box-left {
  border-right: 1px solid #37B387;
  min-height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.calories-tool .calories-summary .border-box .content-box-right {
  min-height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.calories-tool .calories-summary .border-box strong {
  display: block;
  font-size: 22px;
  font-weight: 600;
}
.calories-tool .calories-summary .border-box span {
  display: block;
  color: #405263;
}
.calories-tool .calories-summary .border-box label {
  display: block;
  font-size: 30px;
  font-weight: 600;
  color: #ff0000;
}
.calories-tool .calories-note {
  text-align: center;
}
.calories-tool .calories-note strong {
  color: #37B387;
  font-weight: 600;
}

.service {
  padding-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 778px) {
  .service {
    padding: 0;
    padding-right: 30px;
  }
}
.service ul a {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 600;
  font-family: "Dosis";
}
.service ul a li {
  list-style: none;
  border: 2px solid #37B387;
  border-radius: 8px;
  margin-top: 1rem;
  padding: 1rem;
  cursor: pointer;
}
.service ul a li:hover {
  background-color: #37B387;
  color: #fff;
}

.banner-bmi img {
  width: 100%;
}

.bmi-container {
  padding-top: 2rem;
}
.bmi-container .title {
  margin: 3rem 0;
  font-family: "dosis";
  font-weight: 600;
  color: #289537;
  text-align: center;
}
.bmi-container .row .col-md-4 {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bmi-container .row .col-md-4 .input-height,
.bmi-container .row .col-md-4 .input-weight {
  margin-top: 2rem;
}
.bmi-container .row .radios,
.bmi-container .row .input-bmi {
  width: 270px;
  height: 150px;
  border: 1px solid #37B387;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 3px #37B387;
}
.bmi-container .row .radios h3,
.bmi-container .row .input-bmi h3 {
  text-align: center;
  color: #37B387;
}
.bmi-container .row .radios .radios-item,
.bmi-container .row .input-bmi .radios-item {
  max-width: 240px;
  margin: 0 auto;
}
.bmi-container .row .radios .radios-item .col-6 i,
.bmi-container .row .input-bmi .radios-item .col-6 i {
  padding: 0;
  margin: 0;
  font-size: 3rem;
}
.bmi-container .row .radios .radios-item .col-6 .male input,
.bmi-container .row .radios .radios-item .col-6 .female input,
.bmi-container .row .input-bmi .radios-item .col-6 .male input,
.bmi-container .row .input-bmi .radios-item .col-6 .female input {
  font-size: 3rem;
}
.bmi-container .row .radios .radios-item .col-6 .male input:checked,
.bmi-container .row .radios .radios-item .col-6 .female input:checked,
.bmi-container .row .input-bmi .radios-item .col-6 .male input:checked,
.bmi-container .row .input-bmi .radios-item .col-6 .female input:checked {
  border: #38b349;
  background-color: #38b349;
}
.bmi-container .row .radios .radios-item .col-6 .male span,
.bmi-container .row .radios .radios-item .col-6 .female span,
.bmi-container .row .input-bmi .radios-item .col-6 .male span,
.bmi-container .row .input-bmi .radios-item .col-6 .female span {
  font-size: 1.5rem;
  margin-left: 0.75rem;
  font-weight: 600;
  font-family: "dosis";
  color: #000;
}
.bmi-container .row .input-bmi {
  padding: 4px 8px;
}
.bmi-container .row .input-bmi h3 {
  margin: 1rem 0;
}
.bmi-container .row .input-bmi .input-height,
.bmi-container .row .input-bmi .input-weight {
  margin: 0;
}
.bmi-container .row .input-bmi span {
  color: #37B387;
  font-size: 18px;
  font-weight: 600;
}
.bmi-container .container-btn {
  margin-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bmi-container .container-btn .btn-checked,
.bmi-container .container-btn .btn-reset {
  margin: 0 8px;
  min-width: 120px;
  font-size: 18px;
  font-weight: 600;
  font-family: "dosis";
}
.bmi-container .show-result {
  padding-bottom: 2rem;
}
.bmi-container .show-result .number-bmi {
  text-align: center;
  padding: 1.5rem 0;
  background-color: #cefad3;
  border-radius: 8px 0 0 8px;
}
.bmi-container .show-result .number-bmi p {
  color: #405263;
  font-size: 18px;
}
.bmi-container .show-result .number-bmi span {
  font-size: 32px;
  color: #000;
  font-weight: 600;
  color: #fff;
}
.bmi-container .show-result .review-bmi {
  background-color: #CEE8FA;
  border-radius: 0 8px 8px 0;
  padding: 1.5rem;
}
.bmi-container .show-result .review-bmi p {
  color: #405263;
  font-size: 18px;
}
.bmi-container .show-result .review-bmi span {
  font-size: 28px;
  color: #000;
  font-weight: 600;
}

.bmi-review-project {
  padding-bottom: 80px;
}

.gio-hang .cart-tab {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  inset: 0 -400px 0 auto;
  z-index: 9999;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
}
@media screen and (max-width: 778px) {
  .gio-hang .cart-tab {
    width: 350px;
  }
}
.gio-hang .cart-tab.show-cart {
  inset: 0 0 0 auto;
}
.gio-hang .cart-tab .head-cart {
  display: flex;
  justify-content: space-between;
}
.gio-hang .cart-tab .head-cart h2 {
  color: #eee;
  padding: 20px;
  font-size: 600;
}
.gio-hang .cart-tab .head-cart i {
  color: #eee;
  font-size: 22px;
  font-weight: 600;
  line-height: 83px;
  margin-right: 2rem;
  border: 0;
}
.gio-hang .cart-tab .head-cart i:hover {
  color: #ff0000;
}
.gio-hang .cart-tab .btn-shopping {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gio-hang .cart-tab .btn-shopping button {
  background-color: #289537;
  color: #eee;
  font-size: 18px;
  font-weight: 600;
  border: none;
}
.gio-hang .cart-tab .btn-shopping .remove {
  background-color: #405263;
}
.gio-hang .cart-tab .list-cart {
  overflow: auto;
}
.gio-hang .cart-tab .list-cart::-webkit-scrollbar {
  width: 0;
}
.gio-hang .cart-tab .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  padding-bottom: 8px;
}
@media screen and (max-width: 778px) {
  .gio-hang .cart-tab .item {
    grid-template-columns: 70px 110px 55px 85px;
    justify-content: end;
  }
}
.gio-hang .cart-tab .item img {
  width: 100%;
}
.gio-hang .cart-tab .item .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 18px;
  font-weight: 600;
  background-color: #eee;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  line-height: 25px;
}
.gio-hang .cart-tab .item .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}
.gio-hang .cart-tab .item:nth-child(even) {
  background-color: rgba(238, 238, 238, 0.0666666667);
}

.banner-home {
  padding: 0;
}
.banner-home img {
  width: 100%;
}

.introduce {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fafbfc;
}
.introduce .img-introduce .card img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.15);
}
.introduce .desc-introduce {
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.introduce .desc-introduce h2 {
  font-family: "dosis";
  color: #289537;
  font-size: 30px;
  font-weight: 600;
}
.introduce .desc-introduce .desc-item {
  cursor: pointer;
}
.introduce .desc-introduce .desc-item strong {
  font-size: 22px;
  font-weight: 600;
  color: #071e55;
  display: block;
  border-bottom: 1px solid #405263;
  padding-bottom: 8px;
}
.introduce .desc-introduce .desc-item p {
  display: none;
  margin-top: 1rem;
  color: #405263;
  font-size: 18px;
  font-weight: 400;
}
.introduce .desc-introduce .desc-item.active strong {
  border-bottom: 1px solid #37B387;
}
.introduce .desc-introduce .desc-item.active p {
  display: block;
}

.banner-fitness {
  margin-top: 1rem;
  background-color: #37B387;
}
.banner-fitness .desc-banner-fitness {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}
.banner-fitness .desc-banner-fitness h2 {
  margin-bottom: 1rem;
}
.banner-fitness .desc-banner-fitness p {
  font-size: 20px;
  font-weight: 600;
}
.banner-fitness .desc-banner-fitness a {
  text-decoration: none;
  color: #37B387;
  padding: 10px 32px;
  background-color: #fff;
  border-radius: 6px 8px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
}
.banner-fitness .desc-banner-fitness a:hover {
  box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.17);
}
.banner-fitness .img-banner-fitness {
  padding-top: 80px;
  padding-bottom: 80px;
}
.banner-fitness .img-banner-fitness img {
  width: 100%;
}

.benefit {
  padding: 2rem 0;
}
.benefit h2 {
  margin-left: 1rem;
  border-left: 8px solid #37B387;
  border-radius: 3px 0 3px 0;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.benefit .row .col-lg-6 img {
  width: 100%;
}

#fitness {
  padding: 1rem;
  background-color: #fafbfc;
}
#fitness h2 {
  border-left: 8px solid #37B387;
  border-radius: 3px 0 3px 0;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
#fitness .list-fitness .col-lg-6 iframe {
  width: 100%;
}
#fitness .row {
  text-align: center;
  margin: 2rem 0;
}
#fitness .row .desc-fitness {
  margin: 1rem 0 0 0;
  font-size: 18px;
  font-weight: 600;
}
#fitness .row ul {
  display: flex;
  list-style: none;
  margin: 0 4rem;
}
@media screen and (max-width: 778px) {
  #fitness .row ul {
    margin: 0;
  }
}
#fitness .row ul .left {
  float: left;
  margin-right: 5rem;
}
#fitness .row ul .left p i {
  margin-right: 8px;
  color: #37B387;
}
#fitness .row ul .right {
  float: right;
  margin-left: 5rem;
}
#fitness .row ul .right p i {
  margin-right: 8px;
  color: #1e90ff;
}
#fitness .see-more {
  text-align: center;
}
#fitness .see-more p {
  font-size: 20px;
  font-weight: 600;
  color: #37B387;
}
#fitness .see-more p i {
  margin-right: 8px;
}

.list-product, .product-home {
  padding: 1rem;
}
.list-product .owl-nav.disabled, .product-home .owl-nav.disabled {
  display: none;
}
.list-product h2, .product-home h2 {
  border-left: 8px solid #37B387;
  border-radius: 3px 0 3px 0;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.list-product .list-product-fitness, .list-product .list-product-home, .product-home .list-product-fitness, .product-home .list-product-home {
  margin-top: 1rem;
}
.list-product .list-product-fitness .item, .list-product .list-product-home .item, .product-home .list-product-fitness .item, .product-home .list-product-home .item {
  text-align: center;
  padding: 1rem 0;
}
.list-product .list-product-fitness .item .info-product, .list-product .list-product-home .item .info-product, .product-home .list-product-fitness .item .info-product, .product-home .list-product-home .item .info-product {
  padding: 1rem;
  text-decoration: none;
}
.list-product .list-product-fitness .item .info-product .img-product img, .list-product .list-product-home .item .info-product .img-product img, .product-home .list-product-fitness .item .info-product .img-product img, .product-home .list-product-home .item .info-product .img-product img {
  width: 100%;
  min-height: 254px;
}
.list-product .list-product-fitness .item .info-product span, .list-product .list-product-home .item .info-product span, .product-home .list-product-fitness .item .info-product span, .product-home .list-product-home .item .info-product span {
  text-decoration: none;
  color: #000;
  height: 80px;
  line-height: 30px;
  margin: 0.5rem 0;
  display: block;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 3px 4px 7px rgba(113, 110, 101, 0.8);
}
.list-product .list-product-fitness .item .btn-buy, .list-product .list-product-home .item .btn-buy, .product-home .list-product-fitness .item .btn-buy, .product-home .list-product-home .item .btn-buy {
  display: flex;
  flex-direction: column;
  margin: 4px 8px;
}
.list-product .list-product-fitness .item .btn-buy .btn-info-product, .list-product .list-product-home .item .btn-buy .btn-info-product, .product-home .list-product-fitness .item .btn-buy .btn-info-product, .product-home .list-product-home .item .btn-buy .btn-info-product {
  border: 1px solid #38b349;
  color: #38b349;
  margin-bottom: 0.5rem;
}
.list-product .list-product-fitness .item .btn-buy .btn-info-product i, .list-product .list-product-home .item .btn-buy .btn-info-product i, .product-home .list-product-fitness .item .btn-buy .btn-info-product i, .product-home .list-product-home .item .btn-buy .btn-info-product i {
  margin-right: 6px;
}
.list-product .list-product-fitness .item .btn-buy .btn-info-product:hover, .list-product .list-product-home .item .btn-buy .btn-info-product:hover, .product-home .list-product-fitness .item .btn-buy .btn-info-product:hover, .product-home .list-product-home .item .btn-buy .btn-info-product:hover {
  color: #fff;
  background-color: #38b349;
}

.tips img {
  width: 100%;
}

.footer {
  background-color: #37B387;
}
@media screen and (max-width: 778px) {
  .footer iframe {
    width: 350px;
  }
}
.footer h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-left: 2rem;
}
.footer h3 i {
  margin-right: 8px;
}
.footer ul {
  list-style: none;
}
.footer ul li p {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.footer ul li p i {
  margin-right: 8px;
}
.footer .map {
  padding-top: 80px;
  margin-bottom: 80px;
}
.footer .contact-footer {
  padding-top: 80px;
}
.footer .policy {
  padding-top: 80px;
}
.footer .copy-right {
  text-align: center;
  padding-bottom: 4px;
}
.footer .copy-right h3 {
  font-size: 16px;
  font-weight: 400;
}

.main {
  padding: 3rem 0;
}
.main .main-product h2 {
  padding-left: 0.5rem;
  color: #38b349;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.main .main-product h2::before {
  content: "";
  border-radius: 5px;
  padding: 5px;
  margin-right: 8px;
  background-color: #e6b645;
}
.main .main-product .banner-product {
  position: relative;
  overflow: hidden;
}
.main .main-product .banner-product img {
  width: 100%;
  transition: 0.5s;
}
.main .main-product .banner-product:hover img {
  transform: scale(1.1);
}
.main .main-product .banner-product::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}
.main .main-product .banner-product .product-desc {
  width: 100%;
  padding: 0 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
}
@media screen and (max-width: 778px) {
  .main .main-product .banner-product .product-desc {
    padding: 0;
  }
}
.main .main-product .banner-product .product-desc h3 {
  font-size: 26px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 2rem;
  text-shadow: 3px 4px 7px rgba(113, 110, 101, 0.8);
}
@media screen and (max-width: 778px) {
  .main .main-product .banner-product .product-desc h3 {
    font-size: 18px;
    margin-bottom: 0.5rem;
  }
}
.main .main-product .banner-product .product-desc p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 778px) {
  .main .main-product .banner-product .product-desc p {
    font-size: 15px;
  }
}
.main .main-product .banner-product .product-desc a {
  padding: 6px 20px;
  border-radius: 6px 8px;
  background-color: #e6b645;
  color: #fff;
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
}
@media screen and (max-width: 778px) {
  .main .main-product .banner-product .product-desc a {
    font-size: 16px;
  }
}
.main .main-product .list-product {
  margin-top: 1rem;
}
.main .main-product .list-product .card {
  text-align: center;
  padding: 1rem 0;
}
.main .main-product .list-product .card .info-product {
  padding: 1rem;
  text-decoration: none;
}
.main .main-product .list-product .card .info-product .img-product img {
  width: 100%;
}
.main .main-product .list-product .card .info-product span {
  text-decoration: none;
  color: #000;
  min-height: 50px;
  margin: 0.5rem 0;
  display: block;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 3px 4px 7px rgba(113, 110, 101, 0.8);
}
.main .main-product .list-product .card .btn-buy {
  display: flex;
  flex-direction: column;
  margin: 4px 8px;
}
.main .main-product .list-product .card .btn-buy .btn-info-product {
  border: 1px solid #38b349;
  color: #38b349;
  margin-bottom: 0.5rem;
}
.main .main-product .list-product .card .btn-buy .btn-info-product i {
  margin-right: 6px;
}
.main .main-product .list-product .card .btn-buy .btn-info-product:hover {
  color: #fff;
  background-color: #38b349;
}

.contact {
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact .form-contact {
  padding-right: 60px;
}
.contact .form-contact .btn-sent {
  width: 200px;
  font-size: 20px;
}
@media screen and (max-width: 778px) {
  .contact .img-contact {
    margin-top: 2rem;
  }
}
.contact .img-contact img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
}

.form-test-health {
  padding-top: 80px;
}
.form-test-health h1 {
  color: #38b349;
  margin-bottom: 4rem;
}
.form-test-health .test-wrapper .list-test-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-test-health .test-wrapper .list-test-item .test-item {
  width: 40%;
  margin-bottom: 2rem;
  margin-right: 2rem;
  text-align: center;
}
.form-test-health .test-wrapper .list-test-item .test-item img {
  width: 100%;
}
.form-test-health .test-wrapper .list-test-item .test-item h4 {
  color: #071e55;
  margin-top: 8px;
}
.form-test-health .desc-test {
  text-align: center;
}
.form-test-health .desc-test span {
  font-size: 28px;
  font-weight: 400;
  font-family: "dosis";
  color: #eee;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #37B387;
}
.form-test-health .desc-test p {
  font-size: 20px;
  color: #071e55;
  padding: 8px 32px;
}

.modal-content .modal-header .modal-title {
  margin: 0;
}
.modal-content .modal-body {
  font-size: 22px;
}
.modal-content .modal-body .btn {
  border: none;
}

.cook h1 {
  margin: 1rem 0;
}
.cook .list-nau-an {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #405263;
  margin-bottom: 2rem;
}
.cook .list-nau-an img {
  aspect-ratio: 2/1;
  object-fit: cover;
}
.cook .list-nau-an h5 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.cook .list-nau-an p {
  font-size: 14px;
}
.cook .list-nau-an a {
  background-color: #37B387;
  margin: auto;
  border: none;
  display: block;
}
@media all and (min-width: 992px) {
  .cook .nav-right {
    top: 150px;
    right: 54px;
  }
  .cook .nav-right h5 {
    text-transform: uppercase;
  }
  .cook .nav-right .line {
    width: 40px;
    height: 4px;
    background-color: #405263;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    opacity: 0.4;
  }
  .cook .nav-right ul {
    padding: 0;
  }
  .cook .nav-right ul li {
    list-style: none;
    margin-bottom: 1rem;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
  }
  .cook .nav-right ul li a {
    text-decoration: none;
    color: #37B387;
    font-weight: 700;
  }
  .cook .nav-right ul li:hover {
    border-bottom: 1px solid #405263;
  }
  .cook .nav-right ul li:hover a {
    color: #000;
  }
  .cook .nav-right ul .active-cook a {
    color: #000 !important;
  }
}
@media all and (max-width: 992px) {
  .cook .nav-right {
    position: static !important;
    top: 0 !important;
    right: 0 !important;
  }
  .cook .nav-right h5 {
    text-transform: uppercase;
  }
  .cook .nav-right .line {
    width: 40px;
    height: 4px;
    background-color: #405263;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    opacity: 0.4;
  }
  .cook .nav-right ul {
    padding: 0;
  }
  .cook .nav-right ul li {
    list-style: none;
    margin-bottom: 1rem;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
  }
  .cook .nav-right ul li a {
    text-decoration: none;
    color: #37B387;
    font-weight: 700;
  }
  .cook .nav-right ul li:hover {
    border-bottom: 1px solid #405263;
  }
  .cook .nav-right ul li:hover a {
    color: #000;
  }
  .cook .nav-right ul .active-cook a {
    color: #000 !important;
  }
}

.cook-chi-tiet .col-main .img1 {
  aspect-ratio: 2/1.3;
  width: 100%;
  margin-bottom: 1rem;
}
.cook-chi-tiet .col-main p {
  padding: 0 1.2rem;
  font-style: italic;
}
.cook-chi-tiet .col-main .img2 {
  width: 100%;
  padding: 0rem 6rem;
}
.cook-chi-tiet .col-main h3 {
  padding: 1.2rem;
}
.cook-chi-tiet .col-main h5 {
  padding: 0 1.2rem;
}
.cook-chi-tiet .col-main .img3 {
  width: 100%;
  padding: 0rem 6rem;
}
.cook-chi-tiet .col-main .img4 {
  width: 100%;
  padding: 0rem 6rem;
}

main {
  position: relative;
}
main .login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
}
main .login h1 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
main .login input {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  display: block;
}
main .login .box-password {
  position: relative;
}
main .login .box-password i {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
main .login button {
  margin: auto;
  width: 100%;
}

main .login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
}
main .login h1 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
main .login input {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  display: block;
}
main .login .box-password {
  position: relative;
}
main .login .box-password i {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
main .login button {
  margin: auto;
  width: 100%;
}

.scroll #scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  padding: 8px 11px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #e6b645;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.scroll #scrollToTopBtn:hover {
  background-color: #37B387;
  color: #fff;
}

.product-detail {
  padding: 2rem 0;
}
.product-detail .col-left .product-img img {
  width: 100%;
}
.product-detail .col-right {
  margin-top: 1rem;
}
.product-detail .col-right .product-info .price span {
  padding: 8px 16px;
  background-color: #fafbfc;
  font-size: 20px;
  font-weight: 600;
  color: #38b349;
  display: block;
}
.product-detail .col-right .product-info .quantity {
  margin-top: 2rem;
  display: flex;
}
.product-detail .col-right .product-info .quantity h5 {
  margin-right: 1rem;
}
.product-detail .col-right .product-info .quantity .btn-increase, .product-detail .col-right .product-info .quantity .btn-decrease {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 50%;
}
.product-detail .col-right .product-info .quantity span {
  margin: 0 1rem;
}
.product-detail .col-right .product-info .buy {
  margin-top: 1rem;
}
.product-detail .col-right .product-info .buy .cart {
  padding: 8px 16px;
  background-color: #e6b645;
  width: 30%;
}
@media screen and (max-width: 991px) {
  .product-detail .col-right .product-info .buy .cart {
    width: 100%;
    margin-top: 1rem;
  }
}
.product-detail .col-right .product-info .buy .cart span {
  font-weight: 600;
  color: #fff;
}
.product-detail .col-right .product-info .buy .cart span i {
  margin-right: 8px;
}
.product-detail .col-right .product-info .buy .buy-ing {
  width: 30%;
  padding: 8px 16px;
}
@media screen and (max-width: 991px) {
  .product-detail .col-right .product-info .buy .buy-ing {
    width: 100%;
    margin-top: 1rem;
  }
}
.product-detail .col-right .product-info .buy .buy-ing span {
  font-weight: 600;
  color: #fff;
}/*# sourceMappingURL=css.css.map */